{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Mr Robot</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non rhoncus augue. Sed eu dui nec orci hendrerit luctus. In cursus facilisis facilisis. In pellentesque leo eget vestibulum convallis. Donec consequat sem blandit nisi hendrerit porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla at magna ante. In facilisis turpis in ipsum semper, rutrum ultrices nisi facilisis. Cras lacinia, felis non dictum venenatis, arcu magna gravida erat, vel mattis sem neque rutrum enim. Maecenas ac viverra dui. Nunc non rutrum leo. Nulla vitae pulvinar libero, ut sollicitudin leo. Praesent id ex nec velit interdum placerat a et lacus. Phasellus eu ligula sed lorem imperdiet eleifend. Cras bibendum urna lectus, eu cursus quam sagittis sit amet. Ut tempor id tortor eu pulvinar.
        </p>
    </div>
    
    <div class="col-4">
        <img src="assets/img/fsocity.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}